html {
    font-size: 62.5%;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    background-color: #ffffff;
    color: #333333;
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;

    .container {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        background-color: #ffffff;
        color: #333333;
        width: 170rem;
        
        p{
            padding: 0;
            margin: 0;
            line-height: 3rem;
        }

        hr {
            box-sizing: border-box;   
            border: 2px solid #333333;
            padding: 0;
            margin: 1rem 0 0 0;
        }

        .heading {
            display: flex;
            justify-content: space-between;
            margin-top: 10rem;

            .left {
                display: grid;
                grid-template-columns: 1fr;
                width: 80rem;

                span {
                    color: #3a3838;
                    font-weight: 400;
                }
            }

            .right {
                display: grid;
                grid-template-columns: 1fr;
                width: 80rem;
                text-align: end;
                font-weight: 700;

                span {
                    color: #3a3838;
                    font-weight: 400;
                }
            }
        }

        .first-section {
            display: grid;
            grid-template-columns: repeat(3, 1fr);

            .right {
                text-align: end;
            }
            .middle {
                text-align: center;
            }

            p {
                font-size: 2rem;
            }
        }

        .second-section {
            display: grid;
            grid-template-columns: repeat(3, 1fr);

            .right {
                text-align: end;
            }
            .middle {
                text-align: center;
            }

            p {
                font-size: 2rem;
            }
            .bottom {
                padding: 0;
                margin: 0;
            }
            .deductions {
                height: 2rem;
                margin-top: 4rem;
            }
            .red-color {
                color: red;
            }
        }
        .third-section {
           .bottom {
            display: grid;
            grid-template-columns: repeat(3, 1fr);

            .mgt {
                padding: 0;
                margin: 0;
            }
                     
            .center {
                text-align: center;
            }
            .end {
                text-align: end;
            }

            .red-color {
                color: red;
            }
           }
           .net-payable {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            margin-top: 4rem;
            line-height: 4rem;
            font-weight: 700;
            margin-bottom: 10rem;
            p {
                font-size: 2rem;
                line-height: 4rem;
                padding-top: 1rem;
                margin: 0rem;               
            }
            .center {
                text-align: center;
                width: 30rem;
                margin-left: 15rem;
                background-color:rgb(239, 226, 226);
                box-sizing: border-box;
                border-bottom: 6px solid black;
                border-top: 3px solid black;                
            }
            .end {
                text-align: end;
                width: 30rem;
                margin-left: 30rem;
                background-color:rgb(239, 226, 226);
                box-sizing: border-box;
                border-bottom: 6px solid black;
                border-top: 3px solid black;
                }
           }
        }
    }
}

